<div class="container-hologram small">
  <h2 class="new-form-title">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div style="display: flex; align-items: center; padding: 5px; justify-content: space-between;">
        <%= cl_image_tag "https://loremflickr.com/150/150/kitten", :format=>"jpg", :gravity=>"faces", class: 'signup-picture avatar-bordered'%>
        <%= f.input :picture,
                    required: false,
                    autofocus: true,
                    label: "Don't like kittens? Change your picture:",
                    class: 'signup-picture-input' %>
      </div>
      <%= f.input :name,
                  required: true %>
      <%= f.input :nickname,
                  required: true %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Go go go!", class: 'btn btn-primary'  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
