<h1>Markers</h1>

<p>So far <%= @markers.length %> markers have been create</p>
<% unless @markers.blank? %>
  <p>From marker #<%= @markers.first.id %> to #<%= @markers.last.id %></p>
<% end %>

<%= link_to "Create a new marker", new_marker_path, class: "btn btn-primary"%>

<h3>Regenerate markers</h3>
<ul>
  <% @markers.each do |marker| %>
    <li><%= link_to "Regenerate marker No. #{marker.id}", edit_marker_path(marker) %></li>
  <% end %>
</ul>
