<div class="container-hologram small laptop">
  <h2 class="new-form-title">Create a new marker</h2>
  <%= simple_form_for @marker, html: {class: 'new-form-content'} do |f| %>
    <%= f.error_notification %>
    <%= f.input :pattern, as: :hidden %>
    <%= f.input :qrcode, as: :hidden, value: @marker.qrcode %>
    <%= f.button :submit, value: "Create the new marker No. #{@new_id}", class: 'btn btn-primary' %>
  <% end %>
</div>
<script>
  window.QRForPattern = `<%= @qrcode_png.squish %>`;
</script>
