<div class="container-hologram small">
  <h2 class="new-form-title">A typo to deal with? 🎬</h2>
  <%= simple_form_for @hologram, html: {class: 'new-form-content'} do |f| %>
    <%= f.error_notification %>
    <%= f.input :title, label: 'A better title?'%>
    <%= f.input :description, label: 'Or maybe a more inspiring description?', as: :text, :input_html => {:style => 'width: 100%', :rows => 5 } %>
    <%= f.input :video, label: 'Or a new video 😎👇'%>
    <%= f.input :marker_pattern, as: :hidden %>

    <%= f.button :submit, value: 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back without saving', hologram_path(@hologram), class: 'btn btn-secondary' %>
  <% end %>

</div>

<script>
  window.QRForPattern = `<%= @qrcode_png.squish %>`;
</script>