<% if @first_visit || current_user.nil? %>
  <div class="card-welcome">
    <div class="button-text-light-blue button-delete close-welcome">
      <i class="fas fa-times-circle"></i>
    </div>
    <%= image_tag 'hope.gif'%>
    <div class="card-welcome-info">
      <div class="card-welcome-text">
        <h2 class="mobile">Welcome!</h2>
        <h2 class="desktop"> <strong>Welcome!</strong> Your Princess Leia hologram is a few clicks away</h2>
        <p>Have you ever wished to create the bad ass holograms you saw in your favorite Science Fiction movies? It is time to make it a reality. <%= link_to 'Create your own holograms and enjoy them', 'https://www.youtube.com/watch?v=PPig3oc8a8I', target: '_blank' %> by scanning our home brewed markers with your smartphone.</p>
      </div>
      <%= link_to 'Create your first Hologram', new_hologram_path, class: 'btn button-light-blue' %>
    </div>
  </div>
<% end %>

<div class="cards-hologram">
  <% @holograms.each do |hologram| %>
    <%= link_to(hologram_path(hologram)) do %>
      <div class="card-hologram">
        <div class="card-hologram-title">
          <% unless hologram.title.blank? %>
            <h2><%= hologram.title %></h2>
          <% else %>
            <h2>One more holo</h2>
          <% end %>
          <p><em>From <%= hologram.user.nickname %></em></p>
        </div>
        <%= cl_image_tag hologram.video, :format=>"jpg", :width=>600, :height=>400, :gravity => :face, :crop=>"crop", :start_offset=>"1" %>
        <div class="card-hologram-description">
          <% unless hologram.description.blank? %>
            <% if hologram.description.size >= 60 %>
             <p> <%= hologram.description.first(60) %>...</p>
            <% else %>
              <p> <%= hologram.description %></p>
            <% end %>
          <% else %>
            <p>No explanations here, the hologram speaks for itself!</p>
          <% end %>
          <p><span>Read more</span></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
