<% content_for :meta_title, "#{@hologram.title} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @hologram.description %>
<% content_for :meta_image, cl_image_path(@hologram.video, format: :png, :width=>720, :height=>480, :gravity => :face, :crop=>"crop", :start_offset=>"1") %>

<div class="container-hologram no-print">
  <div class="hologram-header">
    <div class="hologram-title">
      <div class="hologram-title-text">
        <% unless @hologram.title.blank? %>
          <h1><%= @hologram.title %></h1>
        <% else %>
          <h2>One more holo</h2>
        <% end %>
        <p>Created on <%= @hologram.created_at.strftime('%A, %d %B %Y') %></p>
      </div>
      <%= link_to(user_path(@hologram.user.nickname)) do %>
        <%= cl_image_tag @hologram.user.picture, alt: @hologram.user.nickname , class: 'avatar-bordered' %>
      <% end %>
    </div>
    <% if current_user == @hologram.user %>
      <div class="hologram-actions">
        <%= link_to "Edit", edit_hologram_path(@hologram), class: 'btn btn-primary'%>
        <%= link_to "Remove", hologram_path(@hologram), method: :delete, data: { confirm: "Wanna get rid of this hologram?"}, class: 'btn btn-danger'%>
      </div>
    <% end %>
  </div>
  <div class="hologram-info">
    <div id="hologram-qrcode">
      <%= image_tag @marker_png %>
      <div>
        <div class="hologram-qrcode-action">
          <%= link_to 'print', :onclick => 'window.print();return false;', class:'button-text-light-blue' do %>
            <i class="fas fa-print"></i>
          <% end %>
          <p class="hologram-qrcode-action-text">Print</p>
        </div>
        <div class="hologram-qrcode-action">
          <%= link_to @marker_png, class:'button-text-light-blue', :type => 'image/png', :disposition => 'attachment', download: 'qrcode.png' do %>
            <i class="fas fa-link"></i>
          <% end %>
          <p class="hologram-qrcode-action-text">Download</p>
        </div>
        <% if current_user == @hologram.user %>
          <div class="hologram-qrcode-action">
            <%= link_to color_pick_path(@hologram), class:'button-text-light-blue' do %>
              <i class="fas fa-fill-drip"></i>
            <% end %>
            <p class="hologram-qrcode-action-text">Set background</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="hologram-description">
      <% if @is_image %>
        <%= cl_image_tag @hologram.video, :width=>720, :height=>606, :gravity => :face %>
      <% else %>
        <%= cl_image_tag @hologram.video, :format=>"gif", :video_sampling=>"1.1s", :delay=>"100", :effect=>"loop", :resource_type=>"video", :width=>720, :height=>606, :gravity => :face %>
      <% end %>
      
      <h3>About this hologram </h3>
      <% unless @hologram.description.blank? %>
        <p><%= @hologram.description %></p>
      <% else %>
        <p>No explanations here, the hologram speaks for itself!</p>
      <% end %>
    </div>
  </div>
  <div class="hologram-demo-mobile">
    <h2>Try it 🎥</h2>
    <p>Print the QR code and scan it with your mobile.</p>
    <p>When you open the QR code URL, point the QR code again with your phone to watch the hologram.</p>
    <p>Or have a peek at what it looks in <%= link_to "this simulation", live_path(mode: 'simulation') %>.</p>
  </div>
  <div class="hologram-demo">
    <h2>Try it 🎥</h2>
    <p>Scan the QR code above with your smartphone, enter the webpage that pops-up and point the virtual QR code card below. (grab the virtual QR code to rotate it)</p>
    <p>Or have a peek at what it looks in <%= link_to "this simulation", live_path(mode: 'simulation') %> (<strong>Note:</strong> click on the QR code of the video if the hologram doesn't show up)</p>
    <div class="digital-qr-frame">
      <div class="digital-qr">
      </div>
    </div>
  </div>
</div>
<script>
  window.qrcode = `<%= @marker_png %>`;
</script>

<!-- Code for qr code printing -->
<h1 class='qr-print'><%= @hologram.title %></h1>
<%= image_tag @marker_png, class: 'qr-print' %>
<%= image_tag @marker_png, class: 'qr-print' %>
<style type="text/css" media="print">
  .qr-print {
    display: block;
    width: 50%;
  }
  .no-print {
    display: none;
  }
  body {
    text-align: center;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  h1 {
    margin-top: 120px;
  }
</style>
